header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    height: 10vh;
    width: 100vw;
    background-color: var(--color2-light-green);
}

.carrinho {
    position: absolute;
    background-color: #fdfdfd;
    top: 70px; 
    right: 10px; 
    border-radius: 15px;
    box-shadow: 5px 1px 10px rgba(0,0,0,0.3);
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    opacity: 0;
    width: 350px; 
    max-height: 400px; 
    overflow-y: auto; 
    display: none; 
}

.carrinho.aberto {
    display: block; 
    opacity: 1;
}

.carrinho h2 {
    text-align: left;
    font-size: 15px;
    color: #25330F;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}

.carrinho .produtos {
    padding: 10px;
    overflow-y: auto; 
    height: 300px; 
    display: flex;
    flex-direction: column;
}

.btn-finalizar {
    background-color: #1d4402;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#lista-produtos {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista-produtos > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#lista-produtos > div span {
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
}

.lixo {
    width: 20px;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: 10px; 
}

.container-top h1{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 25px;
    color: #D4C9B5;
}

.container-top button{
    padding: 10px 20px;
    margin: 10px 25px;
    background-color: #bfa14f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.container-top button:hover {
    background-color: #D4C9B5;
}

.menuToggle {
    display: none;
    position: absolute;
    top: 2.7em;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menuToggle span {
    display: none;
    height: 0.4rem;
    width: 100%;
    background-color: var(--white-default);
    border-radius: 0.2rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu li {
    width: max-content;
    height: max-content;
    padding: 4px 12px;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
}

.menu li::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 10;
    left: 0;
    width: 0;
    border-bottom: 3px solid #00343c;
    transition: width 0.5s ease;
}

.menu li:hover::after {
    width: 100%;
}

.menu li img {
    width: 35px;
    cursor: pointer;
}

.link-menu {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Flexbox layout para os produtos */
.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-produtos {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px; 
    margin: 10px;
    box-sizing: border-box; 
}

.container-produtos img {
    width: 100%;
    height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
} 

.texto-produto {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.texto-preco {
    font-size: 14px;
    color: #bfa14f;
    margin-bottom: 10px;
}

.btn-comprar {
    background-color: #751102;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: #B78C57;
}


@media (max-width: 1080px) {
    header img {
        height: 60%;
        width: auto;
    }

    .link-menu {
        font-size: 1rem;
    }
}

@media (max-width: 920px) {
    header {
        padding: 0px 60px;
    }
}

@media (max-width: 600px) {
    .carrinho {
        width: 90%; /* Largura ajustada para telas menores */
        right: 5%; /* Ajuste da posição para dar um pouco de margem */
        top: auto; /* Remove o posicionamento no topo para telas menores */
        bottom: 10px; /* Posiciona o carrinho mais abaixo em telas menores */
    }
}

.carrinho.aberto {
    display: block; /* Exibe o carrinho quando aberto */
    opacity: 1;
}

@media (max-width: 540px) {
    .menuToggle span {
        height: 3px;
        display: flex;
        border-top-color: transparent;
    }

    header img {
        height: 60%;
        width: auto;
    }

    header {
        height: auto;
        padding: 0rem 2rem;
        padding-top: 1.6rem;
        gap: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        align-items: start;
    }

    nav {
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition:
            opacity 0.5s ease,
            max-height 2s ease;
    }

    .open {
        opacity: 1;
        max-height: 1000px;
        /* Ajuste isso para uma altura máxima suficientemente grande */
        transition:
            opacity 0.8s ease,
            max-height 3s ease;
    }

    /* ----- animations--------- */
    /* clicked */
    .menu-span.clicked:nth-child(1) {
        height: 2px;
        transform-origin: 0% 0%;
        transform: rotate(45deg) translate(2px, 2px);
        transition: ease-out 0.5s;
    }

    .menu-span.clicked:nth-child(2) {
        display: none;
    }

    .menu-span.clicked:nth-child(3) {
        height: 2px;
        transform-origin: 0% 100%;
        transform: rotate(-45deg) translate(2px, -2px);
        transition: ease-out 0.5s;
    }

    /* unclicked */
    .menu-span.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }

    .link-menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0.2rem;
        font-size: 1.55rem;
    }

    .menu li {
        display: flex;
        width: 100%;
    }
}